.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: darkblue;
  }
  
  h2 {
    text-align: center;
  }
  
  .income-expenses {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .transaction-list {
    list-style: none;
    padding: 0;
  }
  
  .transaction-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid whitesmoke;
    margin-bottom: 5px;
  }
  
  .plus {
    color: whitesmoke;
  }
  
  .minus {
    color:whitesmoke;
  }
  h2{
    color: whitesmoke;
    font-size: 50px;

  }
  h3{
    color: rgb(153, 163, 4);
  }
  h4{
    color: rgb(168, 221, 11);
  }
   label{
    color: rgb(227, 77, 230);
    font-size: large;
   }

   input{
    color: brown;
    background-color: lightslategray;
    padding: 0.5rex;
    border: none;
    margin-left: 1rem;
   }

   button{
    color: skyblue;
    padding: 0.25rem;
    font-weight: bold;
   }